/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --bg-image: url("/images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #db00ff;
  --section-title-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --display-decore: inline;
}

:root.theme-dark .decorated-zone::after,
:root.theme-dark .decorated-zone::before,
:root.theme-dark .header__theme-menu-button,
:root.theme-dark .header__theme-menu-button_active,
:root.theme-dark .content__section-title {
  --accent-color: #ff0070;
}
