/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 10px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  block-size: 100vh;
  min-block-size: 668px;
  gap: 54px;
  margin-bottom: var(--main-margin-bottom);
  position: relative;

}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: " ";
  display: inline-block;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  right: 0px;
  top: 10px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.decorated-zone::after {
  left: 0px;
  bottom: 10px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.header__decor {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 139%;
  display: var(--display-decore);
}

.header__decor::after {
  content: " ";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  justify-self: end;
  gap: 10px;
  margin-top: 75px;
}

.header__theme-menu-button {
  border: none;
  padding: 0px 13px;
  min-height: 26px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: inherit;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}


.header__title {
  padding: 11.5px 0 0 0px;
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--title-size);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 130%;
  justify-self: right;
  max-inline-size: 355px;
}

.content {
  display: grid;
  gap: var(--content-gap);
  margin-bottom: var(--main-margin-bottom);
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__section-title {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 130%;
}

.content__section-list-item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 130%;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.content__section-list-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 130%;
  color: var(--section-title-color);
  background-color: var(--accent-color);
}

.margin-top {
  margin-top: 19px;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: 700;
  color: var(--section-title-color);
}

.content__section-list-description {
  margin-top: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.content__section-image {
  width: 100%;
  height: 100%;
}

.footer {
  block-size: max(668px, 100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: var(--title-size);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("/images/cover-image-light.png");
    --bg-color: #ffc2e6;
    --title-color: #ffc2e6;
    --section-title-color: #353430;
    --main-text-color: #353430;
    --accent-color: #ff8dcb;
    --display-decore: none;
  }
  .content__section-title,
  .decorated-zone::before,
  .decorated-zone::after,
  .header__theme-menu-button,
  .header__theme-menu-button_active {
    --accent-color: #353430;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-image: url("/images/cover-image-dark.png");
  --bg-color: #000028;
  --title-color: #db00ff;
  --section-title-color: #000028;
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
}
  :root.theme-dark .decorated-zone::after,
  :root.theme-dark .decorated-zone::before,
  :root.theme-dark .header__theme-menu-button,
  :root.theme-dark .header__theme-menu-button_active,
  :root.theme-dark .content__section-title {
    --accent-color: #ff0070;
  }
}

@media (width >= 768px) {

  :root {
    --main-margin-bottom: 60px;
    --content-gap: 60px;
  }
  .decorated-zone::before {
  top: 20px;
}

  .decorated-zone::after {
  bottom: 20px;
  }

  .header__decor {
    top: 20px;
    right: 8px;
  }
  .header__theme-menu-list {
    margin-top: 192px;
  }
  .header {
    gap: 162px;
  }
  .page {
    padding: 0 20px;
  }
  .header__description {
    max-inline-size: 364px;
  }

  .header__title {
    position: relative;
    right: 20px;
  }

  .content__section:first-child {
    display: grid;
    grid-template-columns: 236px 1fr;
  }


  .content__section:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }

  .content__section:nth-child(3) {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: 2;
  }

  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    max-block-size: 780px;
  }

  .content__section-image {
    object-fit: cover;
    overflow: hidden;
  }

  .gallery> *:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

  .gallery> *:nth-child(2) {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .gallery> *:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 1;
  }
  .gallery> *:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }
  .gallery> *:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
  } 


}

@media (width >= 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, 70px);
    margin-top: 20px;
    justify-self: center;
  }

  .header__title {
    font-size: 157px;
    padding-top: 157.5px;
  }

  .header {
    gap: 114px;
  }
  .header__description {
    max-inline-size: 491px;
  }
  .content__section-title {
    max-inline-size: 315px;
  }

  .content__section:nth-child(2n+1) {
    display: grid;
    grid-template-columns: 315px 1fr;
  }

  .content__section:nth-child(2) .content__section-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 315px 433px;
    max-block-size: 1091px;
  }
  .footer__title {
    font-size: 157.5px;
  }
}
